@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Work+Sans&display=swap");
.articls {
  z-index: 5;
  margin-top: 100px;
}
.article-items {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 15px 0px 15px -15px black, -12px 0px 15px -15px black;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.article-item:first-of-type {
  margin-top: -100px;
}
.article-item:last-of-type {
  margin-bottom: 50px;
}
.article-item {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;

  border-radius: 250px;
  z-index: 1;
}
.main-content {
  font-family: "Work Sans", sans-serif;
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 20px;
  letter-spacing: 1px;
  color: black;
  cursor: pointer;
}
.main-content h2 {
  font-family: "Lobster Two", cursive;
  text-shadow: 1px 2px 2px white;
  padding: 15px;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-wrap: break-word;
}
.main-content p {
  word-wrap: break-word;
}
.article-item #layout {
  height: 100%;
  border-radius: 250px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  filter: drop-shadow(2px 4px 6px black) contrast(0.7);
}
.layout-1 {
  width: 100%;
  height: 100%;
  background-color: #ffffff75;
  border-radius: 250px;
}
.article-item:hover #layout {
  filter: drop-shadow(2px 4px 6px black) contrast(1);
}
.article-item:hover {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .main-content {
    font-size: 25px;
    padding: 50px 20px;
  }
  .articls .container {
    height: 120%;
  }
  .article-items {
    padding: 0 75px;
    row-gap: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .articls .container {
    height: 150%;
  }
}

#addArticle {
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  border-radius: 50%;
  background-color: #e4d4d4c0;
  margin: 10px auto;
}
